---
import Layout from '../../components/layouts/Layout.astro'
import { RESUME_DATA } from '../../data/resume.data'
import { staticLocalePaths } from '../../data/locales'
import { DICTIONARIES } from '../../data/dictionaries'
import About from '../../components/ui/sections/About.astro'
import WorkExp from '../../components/ui/sections/WorkExp.astro'
import Skills from '../../components/ui/sections/Skills.astro'
import Projects from '../../components/ui/sections/Projects.astro'
import Social from '../../components/ui/sections/Social.astro'

export function getStaticPaths() {
  return staticLocalePaths
}

const DATA = RESUME_DATA[Astro.currentLocale || 'en']
const DICTIONARY = DICTIONARIES[Astro.currentLocale || 'en']
const VERSION = process.env.npm_package_version
---

<Layout title="Welcome to Astro.">
	<main class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16">
		{Astro.currentLocale}
		<h1>Mariano Guillaume - Backend Developer</h1>
		<section>
			<h2>Sobre mi</h2>
		</section>
		<section>
			<h2>Newsletter</h2>
		</section>
		<section>
			<h2>Proyectos</h2>
		</section>
		<section>
			<h2>Notas</h2>
		</section>
		<section>
			<h2>Recetas</h2>
		</section>
	</main>
	<footer class="flex justify-center text-gray-600 pb-20">
		Online Open CV v.{VERSION} made by Mariano Guillaume
	</footer>
</Layout>
